# Help: Measured boot and integrity verification
#
# Required for systemd signed Verity images and IMA.
# Not needed for basic VM operation.
# See: https://github.com/systemd/systemd/blob/main/README

#
# Security framework
#
CONFIG_SECURITY=y

#
# Integrity Measurement Architecture
#
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_IMA_ARCH_POLICY=y

#
# Device mapper, dm-verity
#
CONFIG_MD=y
CONFIG_BLK_DEV_DM=m
CONFIG_DM_VERITY=m
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG_SECONDARY_KEYRING=y
