# SPDX-License-Identifier: copyleft-next-0.3.1
# Windmill native worker (group native), run from nix under systemd --user.
# Mirrors deploy/podman/systemd/windmill-native.container. Native-mode jobs are
# lightweight and need no build area. The binary is the same out-link the
# server uses (nix build .#windmill --out-link %S/windmill/pkgs/windmill).
[Unit]
Description=Windmill Native Worker
Requires=windmill-db.service
After=windmill-db.service

[Service]
Environment=MODE=worker
Environment=NATIVE_MODE=true
Environment=WORKER_GROUP=native
Environment=SLEEP_QUEUE=200
EnvironmentFile=%S/windmill/env/database.env
EnvironmentFile=-%E/windmill/windmill-native.env
ExecStart=%S/windmill/pkgs/windmill/bin/windmill
Restart=always

[Install]
WantedBy=default.target
