# Help: Built-in overrides for NVMe over Fabrics
#
# Promotes the NVMe-oF host transports, target core, and target
# transports to =y for no-modprobe boot scenarios. RDMA transport
# also pulled in by promoting INFINIBAND, RDMA_RXE, and RDMA_SIW.
CONFIG_INFINIBAND=y
CONFIG_RDMA_RXE=y
CONFIG_RDMA_SIW=y
CONFIG_NVME_TCP=y
CONFIG_NVME_FC=y
CONFIG_NVME_RDMA=y
CONFIG_NVME_TARGET=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_NVME_TARGET_TCP=y
CONFIG_NVME_TARGET_FC=y
CONFIG_NVME_TARGET_FCLOOP=y
CONFIG_NVME_TARGET_RDMA=y
